.photo {
  width: 200px;
  height: 130px;
  background-image: cover;
  background-size: contain;
  -webkit-transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  opacity: 0.6;
  margin: 0px 2px 20px 20px;
  object-fit: cover;
  border-radius: 5px;
}

.photo-view {
  background-color: rgba(0, 0, 0, 1);
}

.photo-bg {
  padding-bottom: 60px;
}

.photo:hover {
  opacity: 1;
  cursor: pointer;
  -webkit-transform: scale(1.15) rotate(0.01deg);
  transform: scale(1.15) rotate(0.01deg);
}

.photo-quote-container {
  text-align: right;
  margin: 0px 40px 100px 0px;
}

.photo-quote-container2 {
  margin: 0px 10px 100px 50px;
  animation: fadein 1s;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 18px;
  border-radius: 5px;
}

.photo-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 40px;
  padding-left: 10px;
}

.change-photos {
  font-family: PolySans;
  font-size: 20px;
  color: rgba(247, 243, 234, 0.7);
  cursor: pointer;
  padding: 7px 30px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.459);
  border-radius: 50px;
  margin: 8px;
  background-color: rgba(2, 2, 2, 0.234);
}

.change-photos:hover {
  color: white;
}

.photo-nav {
  text-align: center;
  margin-bottom: 40px;
  margin-right: auto;
  margin-left: auto;
  text-shadow: 0 0 6px #cccfcabf;
  padding-top: 50px;
}

.main-photo {
  width: 880px;
  height: 550px;
  background-size: contain;
  background-image: cover;
  margin-top: 17px;
  animation: fadein 1.5s;
  border-radius: 5px;
}

.large-photo-container {
  padding: 20px;
  width: 900px;
}

.img-description {
  color: white;
  text-align: center;
  margin-top: 30px;
  font-family: PolySans;
}

.quote {
  color: white;
  text-align: right;
  font-size: 25px;
  padding: 40px;
  text-shadow: 0 0 6px #cccfcabf;
}

.photo-subtitle {
  color: white;
  margin-left: 100px;
  font-family: PolySans;
}

.photo-head-container {
  color: white;
  display: grid;
  grid-template-columns: 5fr 8fr;
}

.photo-header {
  font-size: 100px;
  text-shadow: 0 0 6px #cccfcabf;
  padding-top: 40px;
  padding-right: 100px;
  margin-left: auto;
}

@media screen and (max-width: 600px) {
  .quote {
    font-size: 13px;
    margin: 0px 10px 100px 0px;
  }
  .photo-subtitle {
    font-size: 6px;
    margin-left: 12px;
  }

  .large-photo-container {
    width: 360px;
    height: 0px;
    display: flex;
    flex-direction: column;
    padding: 0px;
  }
  .change-photos {
    padding: 0px;
    font-size: 10px;
    padding-left: 5px;
  }

  .photo-nav {
    margin: 0px;
  }

  .span.change-photos {
    font-size: 5px;
  }
  .photo-container {
    position: absolute;
    bottom: -860px;
    margin-left: 15px;
    padding-top: 0px;
    padding-bottom: 20px;
    text-align: center;
    padding-left: 0px;
  }
  .photo-bg {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
  }
  .photo {
    width: 130px;
    height: 65px;
    margin: 15px;
  }

  .img-description {
    display: none;
  }

  .photo-head {
    margin-left: 40px;
  }
}
