.text-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.text-container.blur .name-container {
  filter: blur(4px);
  pointer-events: auto; /* Enable pointer events on the blurred name container */
}

.name-container.front {
  position: relative;
  z-index: 1;
}
