.main-page-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(10, 26, 99);
  color: white;
  height: 100%;
}

.line {
  display: flex;
  justify-content: space-between;
}

#home-text {
  padding: 0px 80px 0px 90px;
  margin: 300px 0px;
}

.word {
  font-size: 75px;
  font-family: "Rubik", sans-serif;
  margin: 0rem;
  text-transform: uppercase;
}

.welcome {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 601px) {
  .main-page-container {
    display: flex;
    flex-direction: column-reverse;
  }
  .word {
    font-size: 20px;
  }
}
