.main-page-container {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  background-color: rgb(10, 26, 99);
  color: white;
}

.line {
  display: flex;
  justify-content: space-between;
}

#home-text {
  padding: 150px 80px 0px 90px;
}

.word {
  font-size: 80px;
  font-family: "Rubik", sans-serif;
  margin: 0rem;
  text-transform: uppercase;
}
